<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

<body>
<div class="container">
<h1>Show Page</h1>
<h3>Info Submitted:</h3>
    <p>Name: {{ name_on_template }}</p>
    <p>Dojo Location: {{ email_on_template }}</p>
    <p>Favorite language: {{ lang_on_template }}</p>
    <p>Message: {{ message_on_template }}</p>

    <a href = "http://localhost:5000/" class="badge badge-primary">Return</a>
</div>
</body>
</html>